<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Registro</h1>
    </div>

        <h3> Cadastro Paciente</h3>
        <form name="form" id="form" action="{% if db %}/update/{{db.id}}/{% else %}/create/{% endif %}" method="post">
        {% csrf_token %}
         <div class="form-row">
           <div class="form-group col-md-5">
               <label>NOME COMPLETO</label>
               <input class="form-control" placeholder="Nome" {{form.nome_completo}}
           </div>
           <div class="form-group col-md-3">
               <label>DATA DE NASCIMENTO</label>
               <input class="form-control" placeholder="20/10/2009" {{form.data_de_nascimento}}
           </div>
           <div class="form-group col-md-3">
               <label>CPF</label>
               <input class="form-control" placeholder="111.111.111-11"  {{form.cpf}}
           </div>
         </div>

         <div class="form-row">
           <div class="form-group col-md-4">
               <label>RG</label>
               <input class="form-control" placeholder="21.603.163-4" {{form.rg}}
           </div>
           <div class="form-group col-md-2">
               <label>ORGÃO EXPEDITOR</label>
               <input class="form-control" placeholder="SSP" {{form.orgao_exp_rg_paciente}}
           </div>
           <div class="form-group col-md-6">
               <label>FOTO</label>
               <input type="file" class="form-control-file">
           </div>
         </div>

         <div class="form-row">
           <div class="form-group col-md-6">
               <label>NIS</label>
               <input class="form-control" placeholder=" " {{form.nis}}
           </div>
           <div class="form-group col-md-6">
               <label>CID</label>
               <input class="form-control" placeholder=" " {{form.cid}}
           </div>
         </div>


         <div class="form-row">
           <div class="form-group col-md-6">
               <label>MEDICO SOLICITANTE</label>
               <input class="form-control" placeholder=" " {{form.medico_solicitante}}
           </div>
           <div class="form-group col-md-6">
               <label>CNS</label>
               <input class="form-control" placeholder=" " {{form.cns}}
           </div>
         </div>

         <div class="form-row">
           <div class="form-group col-md-6">
               <label>IDADE</label>
               <input class="form-control" placeholder=" " {{form.idade}}
           </div>
           <div class="form-group col-md-6">
               <label>SEXO</label>
               <input class="form-control" placeholder=" " {{form.sexo}}
           </div>
           <div class="form-group col-md-6">
               <label>RAÇA/COR</label>
               <input class="form-control" placeholder=" " {{form.raca_cor}}
           </div>
           <div class="form-group col-md-6">
               <label>ADMISSÃO</label>
               <input class="form-control" placeholder=" " {{form.admissao}}
           </div>
         </div>

         <div class="form-row">
           <div class="form-group col-md-6">
               <label>ENDEREÇO</label>
               <input class="form-control" placeholder=" " {{form.endereco}}
           </div>
           <div class="form-group col-md-6">
               <label>CODIGO DE LOGRADOURO</label>
               <input class="form-control" placeholder=" " {{form.codigo_de_logradrouro}}
           </div>
           <div class="form-group col-md-6">
               <label>Nº DA CASA</label>
               <input class="form-control" placeholder="100" {{form.n_da_casa}}
           </div>
           <div class="form-group col-md-6">
               <label>COMPLEMENTO</label>
               <input class="form-control" placeholder="Apartamento" {{form.complemento}}
           </div>
           <div class="form-group col-md-6">
               <label>BAIRRO</label>
               <input class="form-control" placeholder="Centro" {{form.bairro}}
           </div>
           <div class="form-group col-md-6">
               <label>ESTADO</label>
               <input class="form-control" placeholder=" " {{form.estado}}
           </div>
           <div class="form-group col-md-6">
               <label>MUNICÍPIO</label>
               <input class="form-control" placeholder=" " {{form.municipio}}
           </div>
           <div class="form-group col-md-6">
               <label>ESTADO CIVIL</label>
               <input class="form-control" placeholder=" " {{form.estado_civil}}
           </div>
         </div>
         <div class="form-group col-md-4">
           <label>DEMANDA GLOBAL</label>
             <select class="form-control">
                  <option selected>Selecione</option>
                  <option value="1">FISIO</option>
                  <option value="2">FONO</option>
                  <option value="3">T.O</option>
                  <option value="4">PSICO</option>
                  <option value="5">PSICOPEDAGOGIA</option>
             </select>
         </div>
            <br>
                <hr>
                <h3>Cadastro Responsaveis</h3>
         <div class="form-row">
           <div class="form-group col-md-6">
               <label>NOME DA MÃE</label>
               <input class="form-control" placeholder=" " {{form.nome_da_mae}}
           </div>
           <div class="form-group col-md-6">
               <label>CPF MÃE</label>
               <input class="form-control" placeholder=" "  {{form.cpf_mae}}
           </div>
           <div class="form-group col-md-6">
               <label>RG DA MÃE</label>
               <input class="form-control" placeholder=" " {{form.rg_da_mae}}
           </div>
           <div class="form-group col-md-6">
               <label>RG SSP MÃE</label>
               <input class="form-control" placeholder=" "{{form.rg_ssp_mae}}
           </div>
           <div class="form-group col-md-6">
               <label>NIS/MÃE:</label>
               <input class="form-control" placeholder=" " {{form.nis_mae}}
           </div>
         </div>
        <hr>
         <div class="form-row">
           <div class="form-group col-md-6">
               <label>NOME DO PAI</label>
               <input class="form-control" placeholder=" " {{form.nome_do_pai}}
           </div>
           <div class="form-group col-md-6">
               <label>CPF PAI</label>
               <input class="form-control" placeholder=" " {{form.cpf_pai}}
           </div>
           <div class="form-group col-md-6">
               <label>RG PAI</label>
               <input class="form-control" placeholder=" " {{form.rg_pai}}
           </div>
           <div class="form-group col-md-6">
               <label>RG SSP PAI</label>
               <input class="form-control" placeholder=" " {{form.rg_ssp_pai}}
           </div>
         </div>

         <div class="form-row">
           <div class="form-group col-md-6">
               <label>TELEFONE BPA</label>
               <input class="form-control" placeholder=" "{{form.telefone_bpa}}
           </div>
           <div class="form-group col-md-6">
               <label>TELEFONE PRINCIPAL</label>
               <input class="form-control" placeholder=" "{{form.telefone_principal}}
           </div>
           <div class="form-group col-md-6">
               <label>TELEFONE ADICIONAL</label>
               <input class="form-control" placeholder=" "{{form.telefone_adicional}}
           </div>
         </div>

         <div class="form-row">
           <div class="form-group col-md-6">
               <label>E-MAIL</label>
               <input class="form-control" placeholder="exemplo@gmail.com" {{form.email}}
           </div>
         </div>

         <div class="form-row">
           <div class="form-group col-md-6">
               <label>RESPONSÁVEL</label>
               <input class="form-control" placeholder=" "{{form.responsavel}}
           </div>
           <div class="form-group col-md-6">
               <label>CPF RESPONSÁVEL</label>
               <input class="form-control" placeholder=" " {{form.doc_responsavel_cpf}}
           </div>
           <div class="form-group col-md-6">
               <label>RG RESPONSÁVEL</label>
               <input class="form-control" placeholder=" " {{form.rg_responsavel}}
           </div>
           <div class="form-group col-md-6">
               <label>ORGÃO EXP RESPONSÁVEL</label>
               <input class="form-control" placeholder=" " {{form.orgao_exp_responsavel}}
           </div>
         </div>

                <input type="submit" class="btn btn-success" value="Salvar">

        </form>

        <div class="col-8 m-auto pt-2 pb-2 text-center">
            <a href="http://localhost:8000/" class="btn btn-info">Voltar</a>
        </div>
</body>
</html>