<!--<!DOCTYPE html>-->
<!--<html lang="pt-br" xmlns="http://www.w3.org/1999/html">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Formulario</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">-->
<!--</head>-->

<!--<body>-->
<!--    <div class="col-8 m-auto pt-2 pb-2 text-center">-->
<!--        <h1> Visualização</h1>-->
<!--    </div>-->

<!--    <div class="col-8 m-auto pt-2 pb-2 text-center">-->
<!--        <a href="http://localhost:8000/" class="btn btn-info">Voltar</a>-->
<!--    </div>-->

<!--    <div class="col-8 m-auto pt-4 pb-5 text-center">-->
<!--        <strong>NOME COMPLETO:</strong>{{bd.nome}}<br>-->
<!--        <strong>NASCIMENTO:</strong>{{bd.nascimento}}<br>-->
<!--        <strong>CPF:</strong>{{bd.cpf}}<br>-->
<!--        <strong>RG:</strong>{{bd.rg}}<br>-->
<!--        <strong>ORGÃO_EXP_RG_PACIENTE:</strong>{{bd.erg}}<br>-->
<!--        <strong>NIS:</strong>{{bd.nis}}<br>-->
<!--        <strong>CID:</strong>{{bd.cid}}<br>-->
<!--        <strong>MEDICO SOLICITANTE:</strong>{{bd.doctor}}<br>-->
<!--        <strong>CNS:</strong>{{bd.cns}}<br>-->
<!--        <strong>IDADE:</strong>{{bd.idade}}<br>-->
<!--        <strong>SEXO:</strong>{{bd.genero}}<br>-->
<!--        <strong>RAÇA/COR:</strong>{{bd.color}}<br>-->
<!--        <strong>ADMISSÃO:</strong>{{bd.entrada}}<br>-->
<!--        <strong>ENDEREÇO:</strong>{{bd.endereco}}<br>-->
<!--        <strong>CODIGO DE LOGRADOURO:</strong>{{bd.codendereco}}<br>-->
<!--        <strong>N DA CASA:</strong>{{bd.ncasa}}<br>-->
<!--        <strong>COMPLEMENTO:</strong>{{bd.complemento}}<br>-->
<!--        <strong>BAIRRO:</strong>{{bd.bairro}}<br>-->
<!--        <strong>ESTADO:</strong>{{bd.estado}}<br>-->
<!--        <strong>MUNICÍPIO:</strong>{{bd.municipio}}<br>-->
<!--        <strong>ESTADO CIVIL:</strong>{{bd.estcivil}}<br>-->

<!--        <h3>Cadastro Responsaveis</h3>-->
<!--        <strong>NOME DA MÃE:</strong>{{bd.namemae}}<br>-->
<!--        <strong>CPF MAE:</strong>{{bd.cpfmae}}<br>-->
<!--        <strong>RG DA MÃE:</strong>{{bd.rgmae}}<br>-->
<!--        <strong>RG SSP MAE:</strong>{{bd.sspmae}}<br>-->
<!--        <strong>NIS/ MÃE:</strong>{{bd.nismae}}<br>-->
<!--        <strong>NOME DO PAI:</strong>{{bd.nomepai}}<br>-->
<!--        <strong>CPF PAI:</strong>{{bd.cpfpai}}<br>-->
<!--        <strong>RG PAI:</strong>{{bd.rgpai}}<br>-->
<!--        <strong>RG SSP PAI:</strong>{{bd.ssppai}}<br>-->
<!--        <strong>TELEFONE BPA:</strong>{{bd.numerobpa}}<br>-->
<!--        <strong>TELEFONE ADICIONAL:</strong>{{bd.numeroadd}}<br>-->
<!--        <strong>TELEFONE 3:</strong>{{bd.numeroext}}<br>-->
<!--        <strong>E-MAIL:</strong>{{bd.email}}<br>-->
<!--        <strong>RESPONSÁVEL:</strong>{{bd.responsavel}}<br>-->
<!--        <strong>DOC RESPONSÁVEL CPF:</strong>{{bd.docresponsavel}}<br>-->
<!--        <strong>RG RESPONSÁVEL:</strong>{{bd.rgresponsavel}}<br>-->
<!--        <strong>ORGÃO EXP RESPONSÁVEL:</strong>{bd.expresponsavel}}<br>-->
<!--    </div>-->

<!--</body>-->
<!--</html>-->