<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1> Visualização</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="http://localhost:8000/" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-5 text-center">
        <strong>NOME COMPLETO:</strong>{{db.modelo}}<br>
        <strong>DATA DE NASCIMENTO:</strong>{{db.marca}}<br>
        <strong>CPF:</strong>{{db.ano}}<br>
        <strong>RG:</strong>{{db.idade}}<br>
        <strong>ORGÃO EXP/ RG PACINETE:</strong>{{db.modelo}}<br>
        <strong>NIS:</strong>{{db.marca}}<br>
        <strong>CID:</strong>{{db.ano}}<br>
        <strong>MEDICO SOLICITANTE:</strong>{{db.idade}}<br>
        <strong>CNS:</strong>{{db.modelo}}<br>
        <strong>IDADE:</strong>{{db.marca}}<br>
        <strong>SEXO:</strong>{{db.ano}}<br>
        <strong>RAÇA/COR:</strong>{{db.idade}}<br>
        <strong>ADMISSÃO:</strong>{{db.modelo}}<br>
        <strong>ENDEREÇO:</strong>{{db.marca}}<br>
        <strong>CODIGO DE LOGRADOURO:</strong>{{db.ano}}<br>
        <strong>Nº DA CASA:</strong>{{db.idade}}<br>
        <strong>COMPLEMENTO:</strong>{{db.modelo}}<br>
        <strong>BAIRRO:</strong>{{db.marca}}<br>
        <strong>MUNICÍPIO:</strong>{{db.ano}}<br>
        <strong>ESTADO CIVIL:</strong>{{db.idade}}<br>

        <h3>Cadastro Responsaveis</h3>
        <strong>NOME DA MÃE:</strong>{{db.idade}}<br>
        <strong>CPF MAE:</strong>{{db.modelo}}<br>
        <strong>RG DA MÃE:</strong>{{db.marca}}<br>
        <strong>RG SSP MAE:</strong>{{db.ano}}<br>
        <strong>NIS/ MÃE:</strong>{{db.idade}}<br>
        <strong>NOME DO PAI:</strong>{{db.modelo}}<br>
        <strong>CPF PAI:</strong>{{db.marca}}<br>
        <strong>RG PAI:</strong>{{db.ano}}<br>
        <strong>RG SSP PAI:</strong>{{db.idade}}<br>
        <strong>TELEFONE BPA:</strong>{{db.modelo}}<br>
        <strong>TELEFONE ADICIONAL:</strong>{{db.marca}}<br>
        <strong>TELEFONE 3:</strong>{{db.ano}}<br>
        <strong>E-MAIL:</strong>{{db.idade}}<br>
        <strong>RESPONSÁVEL:</strong>{{db.modelo}}<br>
        <strong>DOC RESPONSÁVEL CPF:</strong>{{db.marca}}<br>
        <strong>RG RESPONSÁVEL:</strong>{{db.ano}}<br>
        <strong>ORGÃO EXP RESPONSÁVEL:</strong>{{db.idade}}<br>
    </div>

</body>
</html>