<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1> Visualização</h1>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="http://localhost:8000/" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-5 text-center">
        <strong>NOME COMPLETO:</strong> {{bd.nome_completo}} <br>
        <strong>NASCIMENTO:</strong>{{bd.data_de_nascimento}}<br>
        <strong>CPF:</strong>{{bd.cpf}}<br>
        <strong>RG:</strong>{{bd.rg}}<br>
        <strong>ORGÃO EXP RG PACIENTE:</strong>{{bd.orgao_exp_rg_paciente}}<br>
        <strong>NIS:</strong>{{bd.nis}}<br>
        <strong>CID:</strong>{{bd.cid}}<br>
        <strong>MEDICO SOLICITANTE:</strong>{{bd.medico_solicitante}}<br>
        <strong>CNS:</strong>{{bd.cns}}<br>
        <strong>IDADE:</strong>{{bd.idade}}<br>
        <strong>SEXO:</strong>{{bd.sexo}}<br>
        <strong>RAÇA/COR:</strong>{{bd.raca_cor}}<br>
        <strong>ADMISSÃO:</strong>{{bd.admissao}}<br>
        <strong>ENDEREÇO:</strong>{{bd.endereco}}<br>
        <strong>CODIGO DE LOGRADOURO:</strong>{{bd.codigo_de_logradrouro}}<br>
        <strong>N DA CASA:</strong>{{bd.n_da_casa}}<br>
        <strong>COMPLEMENTO:</strong>{{bd.complemento}}<br>
        <strong>BAIRRO:</strong>{{bd.bairro}}<br>
        <strong>ESTADO:</strong>{{bd.estado}}<br>
        <strong>MUNICÍPIO:</strong>{{bd.municipio}}<br>
        <strong>ESTADO CIVIL:</strong>{{bd.estado_civil}}<br>

        <h3>Cadastro Responsaveis</h3>
        <strong>NOME DA MÃE:</strong>{{bd.nome_da_mae}}<br>
        <strong>CPF MAE:</strong>{{bd.cpf_mae}}<br>
        <strong>RG DA MÃE:</strong>{{bd.rg_da_mae}}<br>
        <strong>RG SSP MAE:</strong>{{bd.rg_ssp_mae}}<br>
        <strong>NIS/ MÃE:</strong>{{bd.nis_mae}}<br>
        <strong>NOME DO PAI:</strong>{{bd.nome_do_pai}}<br>
        <strong>CPF PAI:</strong>{{bd.cpf_pai}}<br>
        <strong>RG PAI:</strong>{{bd.rg_pai}}<br>
        <strong>RG SSP PAI:</strong>{{bd.rg_ssp_pai}}<br>
        <strong>TELEFONE BPA:</strong>{{bd.telefone_bpa}}<br>
        <strong>TELEFONE PRINCIPAL:</strong>{{bd.telefone_principal}}<br>
        <strong>TELEFONE ADICIONAL:</strong>{{bd.telefone_adicional}}<br>
        <strong>E-MAIL:</strong>{{bd.email}}<br>
        <strong>RESPONSÁVEL:</strong>{{bd.responsavel}}<br>
        <strong>DOC RESPONSÁVEL CPF:</strong>{{bd.doc_responsavel_cpf}}<br>
        <strong>RG RESPONSÁVEL:</strong>{{bd.rg_responsavel}}<br>
        <strong>ORGÃO EXP RESPONSÁVEL:</strong>{{bd.orgao_exp_responsavel}}<br>
    </div>

</body>
</html>